---
const { title, description, keywords, url } = Astro.props;
---
<html lang='en'>

<head>
    <title>{title}</title>
    <meta name='viewport' content='initial-scale=1, width=device-width'/>

    <meta name='title' content='JSPaste'/>
    <meta name='description' content={description}/>
    <meta name='keywords' content={keywords}/>
    <meta name='theme-color' content='#FFE285'/>
    <meta name='author' content='JSPaste'/>

    <meta property='og:type' content='website'/>
    <meta property='og:url' content={url}/>
    <meta property='og:site_name' content='JSPaste'/>
    <meta property='og:title' content='JSPaste'/>
    <meta property='og:description' content={description}/>
    <meta property='og:image' content='/image/logo_bg.webp'/>
    <meta property='og:keywords' content={keywords}/>

    <meta property='twitter:card' content='summary_large_image'/>
    <meta property='twitter:url' content={url}/>
    <meta property='twitter:title' content='JSPaste'/>
    <meta property='twitter:description' content={description}/>
    <meta property='twitter:image' content='/image/logo_bg.webp'/>
    <meta property='twitter:site' content='@tnfAngel'/>
    <meta property='twitter:site:id' content='@tnfAngel'/>
    <meta property='twitter:creator' content='@tnfAngel'/>
    <meta property='twitter:creator:id' content='@tnfAngel'/>

    <link rel='icon' type='image/svg+xml' href='/favicon.svg'/>
    <link rel='icon' type='image/png' href='/favicon.png'/>
</head>

<body>
</body>

</html>